$sections-background : #84A178;
$background-main: #FCFCFC;
$accent-color: #F8D24E;
$base-text: #FCFCFC;
$text-support: #131313;
$text-muted: #907E82;

$card-icecream: #AEC6A5;
$card-icecoffe: #EFD478;
$card-milkshakes: #D6936D;

$highlighted-text: #D6936D;